---
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
import ThemeToggle from "./ThemeToggle.astro";

const navItems = [
	{ title: "Habilidades", label: "habilidades", url: "/#habilidades" },
	{ title: "Proyectos", label: "proyectos", url: "/#proyectos" },
	{ title: "Servicios", label: "servicios", url: "/#servicios" },
	{ title: "Sobre mí", label: "sobre-mi", url: "/#sobre-mi" },
	{ title: "Contacto", label: "contacto", url: "mailto:jtdevelopersolucion@gmail.com" },
];
---

<header id="navbar" class="fixed text-black dark:text-white font-bold top-0 z-50 w-full transition-all duration-300 bg-transparent">
	<div class="max-w-6xl mx-auto flex justify-between items-center px-4 py-2">
		<!-- Logo -->
		<a href="/" class="text-xl font-bold text-gray-800 dark:text-white">JT Dev</a>

		<!-- Menú Desktop -->
		<nav class="hidden md:flex space-x-6">
			{navItems.map((link) => (
				<a class="relative block px-3 py-2 transition hover:text-blue-500 dark:hover:text-blue-400" aria-label={link.label} href={link.url}>
					{link.title}
				</a>
			))}
			
			<ClientRouter />
		</nav>
		<ThemeToggle />
		<!-- Botón Menú Hamburguesa -->
		<button id="menu-toggle" class="md:hidden p-2 rounded-lg text-gray-800 dark:text-white focus:outline-none">
			<svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
			</svg>
		</button>
	</div>

	<!-- Menú Móvil -->
	<div id="mobile-menu" class=" md:hidden flex flex-col items-center bg-white dark:bg-gray-900 shadow-lg backdrop-blur-md rounded-lg p-5 absolute top-16 right-4 w-48">
		{navItems.map((link) => (
			<a class="block w-full text-center py-2 text-gray-800 dark:text-gray-200 hover:text-blue-500 dark:hover:text-blue-400" aria-label={link.label} href={link.url}>
				{link.title}
			</a>
		))}
	</div>
</header>

<script>
	document.addEventListener("astro:page-load", () => {
		const navbar = document.getElementById("navbar");
		const menuToggle = document.getElementById("menu-toggle");
		const mobileMenu = document.getElementById("mobile-menu");

		// Cambiar fondo del navbar al hacer scroll
		if (navbar) {
			window.addEventListener("scroll", () => {
				if (window.scrollY > 50) {
					navbar.classList.add("bg-white/50", "dark:bg-gray-900/80", "shadow-lg", "backdrop-blur-md");
				} else {
					navbar.classList.remove("bg-white/50", "dark:bg-gray-900/80", "shadow-lg", "backdrop-blur-md");
				}
			});
		}

		// Alternar menú móvil
		if (menuToggle) {
			menuToggle.addEventListener("click", () => {
				if (mobileMenu) {
					mobileMenu.classList.toggle("hidden");
				}
			});
		}
	});
</script>
